.hero-filter-wrapper {
  background-color: #fcfcfa;

  .hero-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30vh;

    &__left {
      & .title {
        font-size: 3vw;

        &__sub {
          margin-top: 1vw;
        }
      }
    }

    &__right {
      min-width: 20vw;
    }
  }
}
