.cart-card {
  padding: 2vw;
  background-color: #fff;
  position: relative;

  .close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-bottom: 1vw;
  }

  .title {
    font-weight: 500;
  }

  .image {
    height: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .counter-wrapper {
    display: flex;
    align-items: center;
  }

  .counter {
    border: 1px solid #4b5548;
    display: flex;
    align-items: center;

    .btn {
      border: 0;
      background-color: transparent;
      width: 3rem;
      height: 4rem;
      cursor: pointer;

      &:hover {
        background-color: #4b5548;
        color: #ffffff;
      }

      &:focus {
        border-radius: 0;
        border: 0;
        outline: 0;
      }
    }

    .num {
      font-size: 1vw;
      margin: 0 1vw;
    }
  }

  .price {
    flex: 1;
    text-align: center;
    font-size: 1.4vw;
  }
}
