* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html.touch *:hover {
  all: unset !important;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.6em;
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e6e2;
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
.collection-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1vw;
}
