.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000, 0.8);

  .dialog {
    width: 50vw;
    background-color: #f2f3ef;
    height: 100%;
    margin-left: auto;
    padding: 1vw;

    &__header {
      display: flex;
      align-items: center;

      .back-btn {
        border: 1px solid #4b5548;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-items: center;
        cursor: pointer;
      }

      .title {
        flex: 1;
        text-align: center;
        text-transform: uppercase;
      }

      .back-btn .fa-angle-left {
        font-size: 1.3vw;
      }
    }

    &__select {
      width: 10vw;
      margin-top: 1.5vw;
    }
  }
}
